In [ ]:
# importing libraries
import pandas as pd
from sklearn.metrics.pairwise import linear_kernel
from sklearn.feature_extraction.text import TfidfVectorizer

In [ ]:
# reading file
product_description = pd.read_csv('description.csv', encoding = 'latin-1')
product_description.head()

   item_id  ...                                        description
0      100  ...  The traditional and Elegant Golden Black Terra...
1      101  ...  This Traditional Golden Brown Terracotta Neckl...
2      102  ...  Elegant Golden Blue Terracotta Necklace Set in...
3      103  ...  You can never go wrong with this Trendy Blue G...
4      104  ...  The magnificent organic terracotta necklace se...

[5 rows x 3 columns]

In [ ]:
products_tfidf = TfidfVectorizer(stop_words='english')

In [ ]:
# replace NaN with empty strings
product_description['description'] = product_description['description'].fillna('')

In [ ]:
# computing TF-IDF matrix required for calculating cosine similarity
product_description_matrix = products_tfidf.fit_transform(product_description['description'])

In [ ]:
cosine_similarity = linear_kernel(product_description_matrix, product_description_matrix)

In [ ]:
# Get the pairwsie similarity scores of all books compared to the book passed by index, sorting them and getting top 5
# here 2 is the index of the book in dataset
x = product_description['item_id']
t=0
item_id = input()
for i in range(174):
    if(x[i]==102):
      t = i
similarity_scores = list(enumerate(cosine_similarity[t]))


similarity_scores = sorted(similarity_scores, key=lambda x: x[1], reverse=True)


similarity_scores = similarity_scores[1:4]


# Get the similar books index
products_index = [i[0] for i in similarity_scores]
print(products_index)


# printing the top 5 most similar books using integer-location based indexing (iloc)
print (product_description['name'].iloc[products_index])
print (product_description['item_id'].iloc[products_index])

100
[76, 3, 77]
76          Elegant Terracotta Necklace
3     Blue Designer Terracotta Necklace
77    Blue Designer Terracotta Necklace
Name: name, dtype: object
76    176
3     103
77    177
Name: item_id, dtype: int64

In [ ]:
i=0
for i in range(174):
    if(x[i]==102):
      t = i

In [ ]:
print(t)

2

In [ ]:
def recommend(item_id):
  import pandas as pd
  from sklearn.metrics.pairwise import linear_kernel
  from sklearn.feature_extraction.text import TfidfVectorizer
  product_description = pd.read_csv('description.csv', encoding = 'latin-1')
  products_tfidf = TfidfVectorizer(stop_words='english')
  product_description['description'] = product_description['description'].fillna('')
  product_description_matrix = products_tfidf.fit_transform(product_description['description'])
  cosine_similarity = linear_kernel(product_description_matrix, product_description_matrix)
  x = product_description['item_id']
  i=0
  for i in range(174):
    if(x[i]==item_id):
      t = i
  similarity_scores = list(enumerate(cosine_similarity[t]))
  similarity_scores = sorted(similarity_scores, key=lambda x: x[1], reverse=True)
  similarity_scores = similarity_scores[1:4]
  products_index = [i[0] for i in similarity_scores]
  print (product_description['name'].iloc[products_index])
  print (product_description['item_id'].iloc[products_index])

In [ ]:
recommend(100)

74    Elegant Terracotta Necklace Jewellery
3         Blue Designer Terracotta Necklace
77        Blue Designer Terracotta Necklace
Name: name, dtype: object
74    174
3     103
77    177
Name: item_id, dtype: int64